
<h1><%= "Task: #{@task.name}" %></h1>
<h1><%= "Description of Task: #{@task.description}" %></h1>
<h1><%= "Date of Creation: #{@task.created_at}" %></h1>
<h1><%= "Date of Update: #{@task.updated_at}" %></h1>

<h2><%= link_to "Home Page", tasks_path(@tasks) %></h2>






